node_modules/
uploads/hospitales/**.jpg
uploads/medicos/**.jpg
uploads/usuarios/**.jpg
uploads/hospitales/**.png
uploads/medicos/**.png
uploads/usuarios/**.png
uploads/hospitales/**.gif
uploads/medicos/**.gif
uploads/usuarios/**.gif